.item {
    display: flex;
    background-color: #aec4de;
    align-items: center;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
}

.btnStateCompleted {
    width: 6%;
    height: 30px;
    border: none;
    border-radius: 20px;
    background: url(./checket.svg);
    background-size: cover;
    margin-right: 10px;
    cursor: pointer;
}

.btnStateNotCompleted {
    width: 6%;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.itemDate {
    color: gray;
    width: 20%;
    font-size: 13px;
}

.delete {
    width: 6%;
    height: 30px;
    background: url(./cancel.svg);
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.completed, .incompleted {
    width: 70%;
    max-width: 70%;
}

.completed {
    text-decoration: line-through;
    color: gray;
}