.containerForm {
    display: flex;
    align-items: center;
    gap: 10px;
}

.formAddTasks {
    min-width: 32rem;
}

.formAddTasks input {
    width: 85%;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 20px  0 0 20px;
    background-color: #AEC4DE;
    padding: 20px;
    outline: none;
}

.formAddTasks button {
    background-color: #6090BF;
    width: 15%;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.filterBox {
    display: flex;
    align-items: center;
}

.filterBox input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

.filterBox > label {
    font-size: 18px;
}

@media (max-width: 768px) {
    .formAddTasks {
        min-width: 10rem;
    }
    
    .formAddTasks > input {
        width: 75%;
    }

    .formAddTasks > button {
        width: 25%;
        color: white;
    }
}
