.container {
    background-color: white;
    border-radius: 20px;
    margin: 20px auto 20px;
    padding: 40px 30px 40px;
    max-width: 60rem;
    min-height: 42rem;
}

.container > h1 {
    text-align: center;
    margin: 20px;
}

.container > h2 {
    text-align: center;
    margin: 10px 0;
}

