.container {
    background-color: white;
    border-radius: 20px;
    margin: 20px auto 20px;
    padding: 40px 30px 70px;
    max-width: 600px;
}

.container > h1 {
    text-align: center;
    margin: 20px;
}

.container > h2 {
    text-align: center;
    margin: 10px 0;
}

.searchBox {
    width: 100%;
    border-radius: 20px;
    background-color: #AEC4DE;
}

.searchBox > input {
    border-radius: 20px;
    height: 40px;
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding: 20px;
}